body, input, button, select, textarea, h1, h2, h3, h4, h5, h6{font-family:'Helvetica Neue', 'STHeiti', '微软雅黑', 'Microsoft YaHei', Helvetica,Arial,sans-serif !important;}
html, body {height: 100%;}
.full-height{height:100%}
.navbar {position: fixed;top : 0;left : 0;width : 100%;}
.main-container-inner {padding-top : 45px;}
.board{background:url("../images/spritemap.png") no-repeat scroll 0 -373px transparent;padding-left:55px}
.board_z{padding-left:55px}
.alert {
	padding: 8px 35px 8px 10px;
	text-shadow: none;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	background-color: #f9edbe;
	border: 1px solid #f0c36d;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #333;
}
.control-group {margin-bottom: 10px;}
.row .span8 {width: 65.95744680851064%;}
.table.dataTable {margin-bottom: 10px;clear: both;border-top: 1px solid #ddd;}
.cursor_p {
	cursor: pointer;
	line-height: 31px;
	margin-left: 8px;
}
.edui-popup-content {height:140px}
.min-h-140 {min-height:140px;}

@media (min-width: 922px){
	.modal-lg {
		width: 900px !important;
	}
}
.cust-form-line .input-group-addon{width:0}
.cust-form-line select {height:37px;font-size:14px}
