<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--类型别名 -->
    <typeAliases>
        <package name="com.nutcracker.wedo"/>
    </typeAliases>
    <mappers>
        <!--引入映射文件 -->
        <mapper resource="com/nutcracker/wedo/msg/up/dao/NewsItemMapper.xml" />
    </mappers>
</configuration>